<nav class="bg-gray-800 text-white p-4">
    <ul class="flex justify-between">
        <li><a href="#niveles" onclick="loadPageContent('niveles.html') class="hover:text-blue-500">Niveles</a></li>
        <li><a href="#tiempo" onclick="loadPageContent('tiempo_de_inversion.html') class="hover:text-blue-500" class="hover:text-blue-500">Tiempo de Inversión</a></li>
        <li><a href="#riesgo" onclick="loadPageContent('riesgos.html') class="hover:text-blue-500" class="hover:text-blue-500">Riesgo</a></li>
        <li><a href="#mercado" onclick="loadPageContent('Mercado.html') class="hover:text-blue-500" class="hover:text-blue-500">Estado del Mercado</a></li>
        <li><a href="#m0xdimo" onclick="loadPageContent('0xdimo.html') class="hover:text-blue-500" class="hover:text-blue-500">0xDimonet</a></li>
    </ul>
</nav>
